<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aCc</title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
      body {
        font-family: "Times New Roman", "Arial", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #e3f2fd;
      }
      .article img {
        height: 100%;
        width: 100px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="logo">Ứng dụng quản lý thư viện trực tuyến</div>
      <nav>
        <a href="#" id="logoutButton"><b>Đăng Xuất</b></a>
      </nav>
      <!-- <input type="text" placeholder="Search.." /> -->
    </div>
    <div class="main-content">
      <div class="sidebar">
        <h2>Danh Mục</h2>
        <a target="_top" href="/home">Trang Chủ</a>
        <a target="_top" href="/view">Xem Sách</a>
        <a target="_top" href="/add">Thêm Sách</a>
        <a target="_top" href="#" class="achive">Quản lý tài khoản</a>
        <a href="#" id="logoutButton"><b>Đăng Xuất</b></a>
      </div>
      <div class="article">
        <form method="POST" action="/scrU">
          <input
            type="text"
            name="searchU"
            placeholder="Tìm kiếm tên người dùng"
          />
          <button type="submit">Tìm kiếm</button>
        </form>
        <h1>Danh tài khoản người dùng</h1>
        <table id="bookTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>users</th>
              <th>pass</th>
              <th>role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(_ => { %>
            <tr>
              <td><%= _.id %></td>
              <td><%= _.username %></td>
              <td><%= _.password %></td>
              <td><%= _.role %></td>
              <td>
                <form action="/delete-user/<%= _.id %>" method="POST">
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <script>
      document.getElementById("logoutButton").addEventListener("click", () => {
        fetch("/logout", { method: "POST" })
          .then((response) => {
            if (response.ok) window.location.href = "/";
            else alert("Lỗi đăng xuất!");
          })
          .catch((error) => {
            alert("Lỗi đăng xuất!");
          });
      });
      window.onload = function () {
        document.querySelector(".article").classList.add("show");
      };
    </script>
  </body>
</html>
