<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>aCc</title>
  <link rel="stylesheet" href="/styles.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <style>
    body {
      font-family: "Times New Roman", "Arial", sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #e3f2fd;
    }

    .article img {
      height: 100%;
      width: 100px;
    }


    .container {
      display: none;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 30px;
      width: 350px;
      opacity: 0;
      transition: all 0.3s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100%);
    }

    .container:hover {
      box-shadow: 0 5px 10px rgba(110, 170, 255, 0.5);
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    label {
      display: block;
      margin-bottom: 5px;
      color: #555;
    }

    .container input[type="text"],
    input[type="password"] {
      width: -webkit-fill-available;
      padding: 12px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s ease;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
      outline: none;
      border-color: #4caf50;
    }

    input[type="text"]:hover,
    input[type="password"]:hover {
      border-color: #0037ff;
    }

    .container button {
      padding: 12px 25px;
      font-family: "Times New Roman", sans-serif;
      font-size: medium;
      background-color: #4c60af;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: transform 0.3s ease, background-color 0.3s ease;
      display: inline-block;
      margin: 10px 34px;
      width: 105px;
    }

    button {
      background-color: #4caf50;
      color: white;
      border: double;
      cursor: pointer;
      border-radius: 5px;
      transition: transform 0.3s ease, background-color 0.3s ease;
    }

    button.r {
      background-color: #af4c4c;
    }

    button:hover {
      transform: scale(1.1);
      background-color: #414094;
    }

    button:hover.r {
      transform: scale(1.1);
      background-color: #944040;
    }
    .showc {
      display: block;
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    @media (max-width: 767px) {
      .container {
        width: 80%;
      }
      .container button {
        padding: 12px 20px;
        margin: 10px 18px;
      }
    }
  </style>
</head>

<body>
  <div class="header">
    <div class="logo">Ứng dụng quản lý thư viện trực tuyến</div>
    <button id="sico" class="smbutt adroi" style="display: none;" onclick="toggleSIDE()"><span
        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </button>
    <nav>
      <form method="POST" action="/scrU">
        <input type="text" name="searchU" placeholder="Tìm kiếm tên người dùng" />
        <button type="submit">Tìm kiếm</button>
      </form>
      <button type="button" onclick="toggleForms()">Đăng ký...</button>
      <!-- <a href="#" id="logoutButton"><b>Đăng Xuất</b></a> -->
    </nav>
  </div>
  <div class="main-content">
    <div class="sidebar">
      <h2>Danh Mục</h2>
      <a target="_top" href="/home">🏠 Trang Chủ</a>
      <a target="_top" href="/view">📖 Xem Sách</a>
      <!-- <a target="_top" href="/add">Thêm Sách</a> -->
      <a target="_top" href="#" class="achive">🗣️ Quản lý tài khoản</a>
      <a href="#" id="logoutButton"><b>⚰️ Đăng Xuất</b></a>
    </div>
    <div class="article">
      <h1>Danh tài khoản người dùng</h1>
      <table id="bookTable">
        <thead>
          <tr>
            <th class="sl">ID</th>
            <th>users</th>
            <th>pass</th>
            <th>role</th>
            <th class="sl">Action</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(_=> { %>
            <tr>
              <td>
                <%= _.id %>
              </td>
              <td>
                <%= _.username %>
              </td>
              <td>
                <%= _.password %>
              </td>
              <td>
                <%= _.role %>
              </td>
              <td>
                <form id="de" action="/delete-user/" method="POST">
                  <button type="submit" class="r" data-id="<%= _.id %>">Delete</button>
                </form>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="register-form">
      <h1>Đăng Ký ( ͡° ͜ʖ ͡°)</h1>
      <form id="registerForm" action="/register" method="POST">
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" required />
        <br />
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" required />
        <br />
        <label for="role">Vai trò:</label>
        <select id="role" name="role">
          <option value="norm">Normal</option>
          <option value="mana">Manager</option>
        </select>
        <br />
        <button type="submit">Đăng ký</button>
        <button type="button" class="r" onclick="toggleForms()">Hủy</button>
      </form>
    </div>
  </div>
  <div id="registration-popup" class="popup-BG" style="display: none">
    <div class="popup">
      <h2 class="popup-title">🚨 Thông báo 🚨</h2>
      <div class="popup-content">
        <p></p>
        <p id="registration-message">🚨</p>
        <button class="popup-button" href="/acc" onclick="closePopup()">Yes sir</button>
      </div>
    </div>
  </div>
  <script src="/scrIco.js"></script>
  <script>
    window.onload = function () { document.querySelector(".article").classList.add("show"); };
    function toggleForms() { document.querySelector(".container").classList.toggle("showc"); }
    function showpanelpopup(r) {
      r.json().then((data) => {
        $("#registration-message").text(data.message);
        $("#registration-popup").show();
      });
    }
    //=--------------------------------------------------------ADD
    const deleteForms = document.querySelectorAll("form#de");
    deleteForms.forEach((form) => {
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const userId = e.target.querySelector('button[type="submit"]')
          .dataset.id;
        if (confirm(`Bạn có chắc chắn muốn xóa người dùng(${e.target.closest('tr').querySelector('td:nth-child(2)').textContent}) này?`)) {
          fetch(`/delete-user/${userId}`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
          })
            .then((r) => { showpanelpopup(r); })
            .catch((e) => {
              console.error("Lỗi khi xóa:", error);
              $("#registration-message").text("Lỗi máy chủ. Vui lòng thử lại sau.");
              $("#registration-popup").show();
            });
        }
      });
    });
    const formB = document.getElementById("registerForm");
    formB.addEventListener("submit", (event) => {
      event.preventDefault();
      const username = formB.querySelector("#username").value;
      const password = formB.querySelector("#password").value;
      const role = formB.querySelector("#role").value;
      fetch("/register", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ username, password, role }),
      })
        .then((r) => { showpanelpopup(r); })
        .catch((error) => {
          console.error("Lỗi khi đăng ký:", error);
          $("#registration-message").text("Lỗi máy chủ. Vui lòng thử lại sau.");
          $("#registration-popup").show();
        });
    });
    function closePopup() { $("#registration-popup").hide(); }
  </script>
</body>

</html>