<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EdIt</title>
  <link rel="stylesheet" href="/styles.css" />
  <style>
    body {
      font-family: "Times New Roman", "Arial", sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #e3f2fd;
    }

    .article img {
      height: 100%;
      width: 100px;
    }

    .container {
      padding: 30px;
      transition: all 0.3s ease;
      position: absolute;
      top: 50%;
    }

    .container button {
      padding: 12px 25px;
      font-family: "Times New Roman", sans-serif;
      font-size: medium;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: transform 0.3s ease, background-color 0.3s ease;
      display: inline-block;
      margin: 10px 4.8%;
      width: 40%;
    }

    .container input,
    select,
    textarea {
      width: 100%;
      padding: 10px 0px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s;
    }

    .container input:focus,
    select:focus,
    textarea:focus {
      border-color: #007bff;
      outline: none;
    }

    .container h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }


    button {
      background-color: #4caf50;
      color: white;
      border: double;
      cursor: pointer;
      border-radius: 5px;
      transition: transform 0.3s ease, background-color 0.3s ease;
    }

    button:hover {
      transform: scale(1.1);
      background-color: #218838;
    }

    button.r {
      background-color: #af4c4c;
    }

    button:hover.r {
      transform: scale(1.1);
      background-color: #944040;
    }

    .showc {
      display: block;
    }

    .form-container {
      display: flex;
      gap: 20px;
    }

    .form-column {
      flex: 1;
    }

    @media (max-width: 767px) {
      .container {
        padding: 0;
      }
    }
  </style>
</head>

<body>
  <div class="header">
    <div class="logo">Ứng dụng quản lý thư viện trực tuyến</div>
    <button id="sico" class="smbutt adroi" style="display: none;" onclick="toggleSIDE()"><span
        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </button>
    <nav>
      <form method="POST" action="/search">
        <input type="text" name="searchTerm" placeholder="Tìm kiếm theo tên sách" />
        <button type="submit">Tìm kiếm</button>
      </form>
      <a href="#" id="logoutButton"><b>Đăng Xuất</b></a>
    </nav>
  </div>
  <div class="main-content">
    <div class="sidebar">
      <h2>Danh Mục</h2>
      <a target="_top" href="/home">🏠 Trang Chủ</a>
      <a target="_top" href="/view">📖 Xem Sách</a>
      <% if (manachr) { %>
        <a target="_top" href="/borrow">📚 Mượn Sách</a>
        <a target="_top" href="#" class="achive">✏️ Sửa muợn</a>
        <a target="_top" href="/borrowhis">🕒Lịch Sử Mượn Sách</a>
        <% } %>
          <a target="_top" href="/acc">🗣️ Quản lý tài khoản</a>
    </div>
    <div class="article">
      <div class="container">
        <h1>Sửa người mượn sách</h1>
        <form action="/update-chr/<%= chraux.id %>" method="POST">
          <div class="form-container">
            <div class="form-column">
              <label for="nameS">Tên:</label>
              <input type="text" id="nameS" name="nameS" value="<%= chraux.nameS %>" required />
              <label for="MS">Mã Số:</label>
              <input type="text" id="MS" name="MS" value="<%=chraux.MS %>" required />
              <label for="nameB">Tên Sách:</label>
              <input type="text" id="nameB" name="nameB" value="<%=chraux.nameB %>" required />
              <label for="dayM">Ngày mượn:</label>
              <input type="date" id="dayM" name="dayM" value="<%=chraux.DayM %>" required />
              <label for="dayT">Ngày trả:</label>
              <input type="date" id="dayT" name="dayT" value="<%=chraux.DayT %>" />
            </div>
          </div>
          <button type="submit">Thêm</button>
          <button type="button" class="r" onclick="window.location.href='/borrow'">Hủy</button>
        </form>
      </div>
    </div>
  </div>
  <script src="/scrIco.js"></script>
  <script>
    window.onload = function () {
      document.querySelector(".article").classList.add("show");
    };
  </script>
</body>

</html>