<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit User</title>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="stylesheet" href="/container.css" />
  <style>
    body {
      font-family: "Times New Roman", "Arial", sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #e3f2fd;
    }

    h1.t {
      margin-left: 20px;
    }

    .article img {
      height: 100%;
      width: 100px;
    }


    .container {
      padding: 30px;
      transition: all 0.3s ease;
      position: absolute;
      top: 50%;
    }

    .container button {
      padding: 12px 25px;
      font-family: "Times New Roman", sans-serif;
      font-size: medium;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: transform 0.3s ease, background-color 0.3s ease;
      display: inline-block;
      margin: 10px 4.8%;
      width: 40%;
    }

    .container input,
    select,
    textarea {
      width: 100%;
      padding: 10px 0px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s;
    }

    .container input:focus,
    select:focus,
    textarea:focus {
      border-color: #007bff;
      outline: none;
    }

    .container h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    button {
      background-color: #4caf50;
      color: white;
      border: double;
      cursor: pointer;
      border-radius: 5px;
      transition: transform 0.3s ease, background-color 0.3s ease;
    }

    button:hover,
    img.floating-button.dow:hover {
      transform: scale(1.1);
      background-color: #218838;
    }

    .showc {
      display: block;
    }

    .form-container {
      display: flex;
      gap: 20px;
    }

    .form-column {
      flex: 1;
    }
  </style>
</head>

<body>
  <div class="header">
    <div class="logo">Ứng dụng quản lý thư viện trực tuyến</div>
    <button id="sico" class="smbutt adroi" style="display: none;" onclick="toggleSIDE()"><span
        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </button>
    <nav>
      <!-- <a href="#" id="logoutButton"><b>Đăng Xuất</b></a> -->
    </nav>
  </div>
  <div class="main-content">
    <div class="sidebar">
      <h2>Danh Mục</h2>
      <a target="_top" href="/home">🏠 Trang Chủ</a>
      <a target="_top" href="/view">📖 Xem Sách</a>
      <a target="_top" href="/borrow">📚 Mượn Sách</a>
      <% if (manachr) { %>
        <a target="_top" href="/returnBook">🗃️ Trả Sách</a>
        <% } %>
          <a target="_top" href="/acc">🗣️ Quản lý tài khoản</a>
          <a target="_top" href="#" class="achive">✏️ Chỉnh sửa tài khoản</a>
    </div>
    <div class="article">
      <div class="container">
        <h1 class="t">Chỉnh sửa người dùng</h1>
        <form action="/update-user/<%= user.id %>" method="POST">
          <div class="form-container">
            <div class="form-column">
              <label for="username">Tên đăng nhập:</label>
              <input type="text" id="username" name="username" value="<%= user.username %>" autocomplete="off" readonly/>
              <label for="name">Tên người dùng:</label>
              <input type="text" id="name" name="name" value="<%=user.name %>" autocomplete="off" required />
              <!-- <label for="password">Mật khẩu mới:</label>
              <input type="password" id="password" name="password" value="<%=user.password %>" autocomplete="off" />
              <label for="confirm_password">Xác nhận mật khẩu mới:</label>
              <input type="password" id="confirm_password" name="confirm_password" /> -->
              <label for="role">Role:</label>
              <input type="select" id="role" name="role" value="<%=user.role %>" readonly/>
            </div>
          </div>
          <button type="submit">Lưu</button>
          <button type="button" class="r" onclick="window.location.href='/acc'">Hủy</button>
        </form>
      </div>
    </div>
  </div>

  <script src="/scrIco.js"></script>
  <script>
    // document.getElementById("logoutButton").addEventListener("click", () => {
    //   fetch("/logout", { method: "POST" })
    //     .then((response) => {
    //       if (response.ok) window.location.href = "/";
    //       else alert("Lỗi đăng xuất!");
    //     })
    //     .catch((error) => {
    //       alert("Lỗi đăng xuất!");
    //     });
    // });
    
    window.onload = function () {
      document.querySelector(".article").classList.add("show");
    };
  </script>
</body>

</html>