<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>viEw</title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
      body {
        font-family: "Times New Roman", "Arial", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #e3f2fd;
      }
      .article img {
        height: 100%;
        width: 100px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="logo">Ứng dụng quản lý thư viện trực tuyến</div>
      <nav>
        <a href="#" id="logoutButton"><b>Đăng Xuất</b></a>
      </nav>
      <!-- <input type="text" placeholder="Search.." /> -->
    </div>
    <div class="main-content">
      <div class="sidebar">
        <h2>Danh Mục</h2>
        <!-- <ul> -->
        <a target="_top" href="/home">Trang Chủ</a>
        <a target="_top" href="#" class="achive">Xem Sách</a>
        <a target="_top" href="/add">Thêm Sách</a>
        <!-- </ul> -->
      </div>
      <div class="article">
        <form method="POST" action="/search">
          <input
            type="text"
            name="searchTerm"
            placeholder="Tìm kiếm theo tên sách"
          />
          <button type="submit">Tìm kiếm</button>
        </form>
        <h1>Danh sách sách</h1>
        <table id="bookTable">
          <thead>
            <tr>
              <th>Tiêu Đề</th>
              <th>Tác Giả</th>
              <th>Thể Loại</th>
              <th>Sự miêu tả</th>
              <th>Bìa</th>
              <th class="sl">Số lượng</th>
              <th class="sl">NSFW BUTTON</th>
            </tr>
          </thead>
          <tbody>
            <% books.forEach(book => { %>
            <tr>
              <td><%= book.title %></td>
              <td><%= book.author %></td>
              <td><%= book.genre %></td>
              <td><%= book.description %></td>
              <td>
                <!-- <%= book.cover_image %></td> -->
                <img
                  src="img/bookic/<%= book.cover_image %>.jpg"
                  alt="<%= book.cover_image %>"
                />
              </td>
              <td><%= book.available %></td>
              <td>
                <form action="/delete-book/<%= book.id %>" method="POST">
                  <button type="submit">Xóa</button>
                </form>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <script>
      document.getElementById("logoutButton").addEventListener("click", () => {
        fetch("/logout", { method: "POST" })
          .then((response) => {
            if (response.ok) window.location.href = "/";
            else alert("Lỗi đăng xuất!");
          })
          .catch((error) => {
            alert("Lỗi đăng xuất!");
          });
      });
      window.onload = function () {
        document.querySelector(".article").classList.add("show");
      };
    </script>
  </body>
</html>
